$background-dark: #5d8d5c;
$background-middle: #f0f0f0d8;
$background-light: #ffffff;

$border-dark: #222141;
$border-middle: #5c2d2dcc;
$border-light: #8a7c7ccc;

$shadow-dark: #1b1b3f;

$font-color-dark: #000000;
$font-color-light: #f0f0f0;
$font-color-accent: #497a47;