$background-dark: #5d8d5c;
$background-middle: #f0f0f0d8;
$background-light: #ffffff;
$background-danger: #bb7373;

$border-dark: #222141;
$border-middle: #5c2d2dcc;
$border-light: #8a7c7ccc;
$border-success: #67f892cc;
$border-fail: #ee7b9ecc;

$shadow-dark: #1b1b3f;
$shadow-light: #eeec99;

$font-color-dark: #000000;
$font-color-middle: #6e6886;
$font-color-light: #f0f0f0;
$font-color-accent: #497a47;