body {
  display: grid;
  grid-template-columns: 300px auto 300px;
  grid-template-rows: 4rem minmax(calc(100vh - 7rem), auto) 3rem;
  grid-template-areas: 
    'nav header mode'
    'main main main'
    'footer footer footer';
  background: $background-middle;
  color: $font-color-dark;
  font-size: 10px;
  font-family: 'Balsamiq Sans';
  margin: 0;
}
a,
a:hover,
a:hover {
  color: $font-color-dark;
  text-decoration: none;
}
@mixin button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12rem;
  height: 3rem;
  font-size: 2rem;
  font-family: fantasy;
  border: 0;
  border-radius: 2rem;
  box-shadow: .1rem .1rem .1rem $shadow-dark;
  transition: transform .2s;
  transition: opacity 1s;
  &:hover {
    transform: translate(-.1rem, -.1rem);
    box-shadow: .1rem .1rem .3rem $shadow-dark;
  }
}
@media (max-width: 900px) {
  body {
    grid-template-columns: 300px auto;
    grid-template-rows: 4rem 3rem minmax(calc(100vh - 7rem), auto) 3rem;
    grid-template-areas: 
      'nav mode'
      'header header'
      'main main'
      'footer footer';
    font-size: 8px;
  }
}