.button__game {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin button__game {
  
}
.button__game_active {
  @include button;
  background: $background-danger;
}
.button__game_hidden {
  visibility: hidden;
  opacity: 0;
  width: 0;
}
.success {
  border: .2rem solid $border-success;
}
.fail {
  border: .2rem solid $border-fail;
}

.greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  height: 50%;
  position: fixed;
  top: 25%;
  left: 25%;
  background: $background-light;
  border-radius: 2rem;
  box-shadow: 0 0 1rem $shadow-dark;
  font-size: 2rem;
}

.greeting__close {
  cursor: pointer;
  position: absolute;
  right: 2rem;
  top: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  color: $font-color-dark;
  width: 3rem;
  height: 3rem;
  border: .2rem solid $border-dark;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: .1rem .1rem .2rem $shadow-dark;
  transition: all .2s;
  &:hover {
    background: $background-dark;
    transform: translate(-.1rem, -.1rem);
  }
}