@import './color.scss';
@import './common.scss';
@import './header.scss';
@import './nav.scss';
@import './mode.scss';
@import './main.scss';
@import './footer.scss';
@import './game.scss';
@import './score.scss';