main {
  grid-area: main;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1rem;
}
.card {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 20rem;
  height: 22rem;
  border: .1rem solid $border-dark;
  border-radius: 2rem;
  padding: .5rem;
  transition: all .3s;
  transform-style: preserve-3d;
  /* &:hover {
    transform: rotateY(180deg);
  } */
  img {
    width: 18rem;
    height: 18rem;
    border-radius: 1.5rem;
  }
}
.card__name {
  font-size: 1.5rem;
  margin: .5rem 0 0;
}
.card__counter {
  font-size: 1rem;
}
.card_en,
.card_ru {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: .5rem;
  backface-visibility: hidden;
}
.card_ru {
  transform: rotateY(-180deg);
}
.card .button__rotate {
  align-self: flex-end;
  width: 1.4rem;
  height: 1.4rem;
}
.card__rotate {
  transform: rotateY(180deg);
}