main {
  grid-area: main;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1rem;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  height: 22rem;
  flex: 0 0 auto;
  border: .1rem solid $border-dark;
  border-radius: 2rem;
  padding: 1rem 0;
  img {
    width: 18rem;
    height: 18rem;
    border-radius: 1.5rem;
    margin-bottom: .5rem;
  }
}
.card__name {
  font-size: 1.5rem;
}
.card__counter {
  font-size: 1rem;
}
.card_hidden {
  visibility: hidden;
  width: 0;
  height: 0;
}
.card_ru,
.card_en {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.card .button__rotate {
  width: 1.4rem;
  align-self: flex-end;
  margin-right: 1rem;
  &:hover {
    transition: all .3s ease-in;
    transform: rotate(180deg);
  }
}