main {
  grid-area: main;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1rem;
}
h2 {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  color: $font-color-middle;
}
.card {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 22rem;
  background: $background-light;
  border: .1rem solid $border-light;
  border-radius: 2rem;
  box-shadow: .2rem .2rem .3rem $shadow-dark;
  padding: .5rem;
  transition: all .5s;
  transform-style: preserve-3d;
  &:hover {
    box-shadow: .2rem .2rem 1rem $shadow-dark;
  }
  img {
    width: 18rem;
    height: 18rem;
    border-radius: 1.5rem;
  }
}
.card__name {
  font-size: 1.5rem;
  margin: .5rem 0 0;
}
.card__counter {
  font-size: 1rem;
}
.card_en,
.card_ru {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: .5rem;
  backface-visibility: hidden;
}
.card_ru {
  transform: rotateY(-180deg);
}
.card .button__rotate {
  align-self: flex-end;
  width: 1.4rem;
  height: 1.4rem;
}
.card__rotate {
  transform: rotateY(180deg);
}