.mode {
  grid-area: mode;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  width: 8rem;
  font-size: 1.5rem;
  position: relative;
  input {
    visibility: hidden;
    width: 0;
    margin: 0;
  }
  label {
    display: block;
    width: 2rem;
    height: 2rem;
    background: $background-middle;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
  }
}
.mode__name {
  z-index: 1;
  transition: opacity 2s;
}
.mode__name_hidden {
  visibility: hidden;
  opacity: 0;
  width: 0;
}
.mode__back {
  position: absolute;
  background: $background-dark;
  width: 100%;
  height: 2.4rem;
  border-radius: 2rem;
  box-shadow: .1rem .1rem .2rem $shadow-dark;
  transition: all 1s;
}
.mode__back_play {
  background: $background-danger;
}
.mode__handle {
  right: .2rem;
  transition: box-shadow 2s;
  &:hover {
    box-shadow: 0 0 .5rem $shadow-light;
  }
}
.mode__handle_play {
  // todo: transition?
  left: .2rem;
}