.score__table {
  width: 90%;
  font-size: 1.4rem;
  text-align: left;
  th {
    color: $font-color-accent;
  }
  tr:nth-child(even){
    background: $background-light;
  }
}
.buttons__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button__reset {
  @include button;
  background: $background-dark;
}