.score__table {
  width: 90%;
  font-size: 1.4rem;
  text-align: left;
  td {
    padding: .5rem;
  }
  th {
    padding: .5rem;
    color: $font-color-accent;
    cursor: pointer;
  }
  tr:nth-child(even){
    background: $background-light;
  }
}
.buttons__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.button__reset {
  @include button;
  background: $background-danger;
}
.button__repeat {
  @include button;
  background: $background-dark;
}